<template>
    <Head>
        <title>Create User</title>
    </Head>
    <div>
        <div class="bg-gray-50 border border-gray-300 rounded p-8 mx-auto sm:w-1/3 mt-24">
            <h1 class="text-2xl font-bold mb-8">Edit User</h1>
            <form @submit.prevent="form.patch(`/users/${user.id}`)" class="text-gray-600 text-sm">
                <div class="flex flex-col py-2">
                    <label class="mb-2">Name</label>
                    <input v-model="form.name" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-200 py-2 border-gray-300 border rounded" type="text">
                    <div class="text-red-400" v-if="form.errors.name">{{ form.errors.name }}</div>
                </div>
                 <div class="flex flex-col py-2 ">
                    <label class="mb-2 ">Team</label>
                    <select v-model="form.team_id" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-200 py-2 border-gray-300 border rounded" >
                        <option value="" disabled>Team Selection</option>
                        <option  v-for="team in teams" :key="team.id" :value="team.id" >{{ team.title }}</option>
                    </select>
                    <div class="text-red-400" v-if="form.errors.team_id">{{ form.errors.team_id }}</div>
                </div>
                <div class="flex flex-col py-2"  >
                    <label class="mb-2 ">Email</label>
                    <input v-model="form.email" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-200 py-2 border-gray-300 border rounded" type="text">
                    <div class="text-red-400" v-if="form.errors.email">{{ form.errors.email }}</div>
                </div>
                <button :disabled="form.processing" class="w-1/4 bg-gray-700 text-white py-2 rounded mt-4 hover:bg-gray-800">Update</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: this.$inertia.form({
                name: this.user.name,
                team_id:this.user.team_id,
                email: this.user.email,
            }),
        }
    },
    props:{
        teams: Object,
        user: Object,
    },
}
</script>

<style>

</style>
