<template>
    <Head>
        <title>Users</title>
        <meta type="description" content="Users page content" />
    </Head>

    <div class="flex justify-between items-center">
        <div class="flex flex-col sm:flex-row  items-end my-4">
            <h1 class="text-2xl font-bold">Users</h1>
            <Link  href="/users/create" class="text-sm font-extralight hover:underline  mb-1 sm:ml-2">Create user</Link>
            <!-- <Link v-if="can.createUser" href="/users/create" class="text-sm font-extralight px-4 hover:underline hover:font-bold mb-1">Create user</Link> -->
        </div>

        <div class="flex justify-between">
            <!-- Order by -->
            <select v-model="order" class="mr-8 border border-gray-300 h-8 w-28 sm:w-56 rounded px-2 bg-white text-gray-500 ">
                <option value="desc" >Latest</option>
                <option value="asc">Oldest</option>
            </select>

            <!-- Search Bar -->
            <input
                v-model="search"
                type="text"
                placeholder="Search..."
                class="border border-gray-300 h-8 rounded px-2 w-28 sm:w-auto"
            />
        </div>
    </div>

  <!-- User Table -->
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class=" overflow-hidden border border-gray-300 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-200">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                                    Team
                                </th>
                                <th scope="col" class="pl-6  py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="user in users.data" :key="user.id">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <Link :href="`/users/${user.id}`" class="text-sm font-medium text-gray-900">
                                                {{ user.name }}
                                            </Link>
                                        </div>
                                    </div>
                                </td>
                                <td class=" py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div class="text-sm font-medium text-gray-900">
                                                {{ user.team }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium  ">
                                    <Link
                                        :href="`/users/${user.id}/edit`"
                                        class="text-indigo-600 hover:text-indigo-900"
                                    >
                                        Edit
                                    </Link>
                                    <span class="px-2 text-gray-400">|</span>
                                    <button @click="deletePrompt(user.id)"  class="text-red-600">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

  <!-- Paginator -->
  <Paginator class="mt-4" :links="users.meta.links" />

  <!-- Delete Prompt Modal -->
    <div v-if="userDeletePrompt" class="absolute bg-gray-100 right-0 left-0 bottom-0 top-0 bg-opacity-70 flex items-center justify-center border-2 shadow" >
        <div class="bg-white p-8 border rounded-lg sm:w-1/4">
            <div class="text-gray-600 font-bold text-2xl my-6 mb-10">Are you sure ?</div>
            <button @click="deleteUser()" class="bg-red-500 mr-4 text-white uppercase p-3 px-4 rounded-lg hover:bg-red-600">confirm</button>
            <button @click="this.userDeletePrompt = false" class="text-white uppercase p-3 px-4 rounded-lg bg-green-600" >Cancel</button>
        </div>
    </div>
</template>

<script>
import Paginator from "@shared/Paginator.vue";
import { Inertia } from '@inertiajs/inertia'
import debounce from 'lodash/debounce'

export default {
    data() {
        return {
            search: this.filters.search,
            order: "desc",
            userDeletePrompt: false,
            userToDelete: null,
        };
    },
    components: {
        Paginator,
    },
    props: {
        users: Object,
        filters: Object,
        can: Object,
    },
    methods:{
        deletePrompt(user){
            this.userDeletePrompt = true
            this.userToDelete = user
        },
        deleteUser(){
            this.$inertia.delete('/users/'+ this.userToDelete,{
                onSuccess:() => {
                    this.userDeletePrompt = false,
                    this.userToDelete = null
                }
            });
        }
    },
    watch:{
        search: debounce((value) => {
            Inertia.get('/users',{ search: value },
                {
                    preserveState:true,
                    replace: true,
                })
        },300),

        order: (value) => {
            Inertia.get('/users',{ order: value },
                {
                    preserveState:true,
                    replace: true,
                })
        }
    },
};
</script>

<style>
</style>
