<template>
     <Head>
        <title>User Details</title>
        <meta type="description" content="Users page content" />
    </Head>
    <div>
        <h1 class="text-2xl font-bold my-4">User Details</h1>
        {{ user.name }}<br>
        {{ user.email }}<br>
        {{ user.content }}<br>
        {{ user.company }}<br>
    </div>
</template>

<script>
export default {
    props: {
        user: Object,
    },
};
</script>

<style>
</style>
