<template>
	<Head>
		<title>Home</title>
		<meta
			type="description"
			content="This is the home content"
			head-key="description"
		/>
	</Head>
    <div class="flex items-end my-4">
        <h1 class="text-2xl font-bold">Home</h1>
    </div>
</template>

