<template>
    <Head>
        <title>Login</title>
    </Head>
    <div class="bg-gray-100 h-screen w-screen absolute flex items-center">
        <!-- Login form card -->
        <div class="bg-gray-50 border border-gray-200 rounded-lg shadow p-8  mx-auto w-5/6 sm:w-1/3  ">
            <h1 class="text-2xl font-bold mb-8">Login</h1>
            <form @submit.prevent="form.post('/login')" class="text-gray-600 text-sm">
                <div class="flex flex-col py-2"  >
                    <label class="mb-2 ">Email</label>
                    <input v-model="form.email" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-100 py-2 border-gray-300 border rounded" type="text">
                    <div class="text-red-400" v-if="form.errors.email"><b>*</b> {{ form.errors.email }}</div>
                </div>
                <div class="flex flex-col py-2 ">
                    <label class="mb-2 ">Password</label>
                    <input v-model="form.password" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-100 py-2 border-gray-300 border rounded" type="password">
                    <div class="text-red-400 ml-2" v-if="form.errors.password"><b>*</b> {{ form.errors.password }}</div>
                </div>
                <button :disabled="form.processing" class="w-1/4 bg-gray-700 text-white py-2 rounded mt-4 hover:bg-gray-800">Submit</button>
            </form>
        </div>
        <!-- Login form card /-->
    </div>
</template>

<script>
export default {
    layout: null,
    data(){
        return {
            form: this.$inertia.form({
                email:'honey.kunhare@gmail.com',
                password:'password',
            }),
        }
    }
}
</script>

<style>

</style>
