<template>
    <Head>
        <title>Settings</title>
        <meta type="description" content="Settings page content">
    </Head>
    <div class="flex items-end my-4">
        <h1 class="text-2xl font-bold">User Settings</h1>
    </div>
</template>

<script>
export default {
};
</script>

<style>
</style>
