<template>
    <div>
        <div v-if="$page.props.flash.success" class="p-4 pl-8 text-lg  rounded-lg w-full  bg-green-600 border border-green-700  text-white">
            {{ $page.props.flash.success }}
        </div>
        <!-- <div v-if="$page.props.flash.error" class="p-4 shadow-lg bg-red-500 text-white rounded-lg w-full border-2"  >
            {{ $page.props.flash.error }}
        </div> -->
        <div v-if="$page.props.flash.message" class="p-4 pl-8 text-lg bg-yellow-400 text-gray-600 rounded-lg w-full border border-yellow-500" >
            {{ $page.props.flash.message }}
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
