<template>
    <!-- <head><title>My App</title></head> -->
    <!-- large screen -->
	<header class="hidden bg-gray-700 text-white border-b-2 border-gray-300 py-4  sm:flex items-start justify-start">
		<div class="sm:flex sm:flex-col sm:w-1/4 hidden  ">
			<span class="sm:text-3xl font-bold ml-4 block">My App</span>
			<span class="text-sm block ml-4 pt-2 font-extralight">Welcome back <b>{{ firstName }}</b></span>
		</div>
		<Nav class="ml-4 text-gray-200" />
	</header>

    <!-- Small Screen -->
    <header class="sm:hidden bg-gray-700 text-gray-200 border-b-2 border-gray-300 py-4">
        <div class="flex justify-between">
            <div>
                <Link href="/" class="sm:text-3xl text-2xl font-bold ml-4 block">My App</Link>
                <span class="text-sm block ml-4 pt-2 font-extralight ">
                    Welcome back <b>{{ firstName }}</b>
                </span>
            </div>
            <div>
                <div @click="showMenu =! showMenu" class="cursor-pointer mt-5 mr-6"  >
                    <span class="border-b-4 w-6 mt-1 rounded  block border-gray-200"></span>
                    <span class="border-b-4 w-6 mt-1 rounded block border-gray-200"></span>
                    <span class="border-b-4 w-6 mt-1 rounded block border-gray-200"></span>
                </div>
                <div v-if="showMenu" class="inset-0 z-20 absolute" @click="showMenu = false"></div>
                <div v-if="showMenu" class="absolute bg-gray-600 rounded-lg p-2 px-8 border-2 border-gray-700 right-3 top-6 z-20">
                    <Nav class="text-gray-200" @click="showMenu = false"/>
                </div>
            </div>
        </div>

    </header>
    <div class="w-full h-screen bg-gray-100">
        <div class="sm:mx-52 mx-4 pt-4">
            <flash-message/>
            <slot class="" />
        </div>
    </div>
</template>

<script>
import Nav from "@shared/Nav"
import FlashMessage from "@shared/FlashMessage"

export default {
    data(){
        return{
            showMenu: false,
        }
    },
  components: { Nav, FlashMessage },
  props:{ username: Array },
  computed:{
      firstName(){
         if(this.username.length > 2){
             return this.username[0]+ ' ' + this.username[1]
         }
        return this.username[0]
      }
  }
};
</script>

<style>
</style>
