<template>
<div class="w-full flex flex-col sm:flex sm:flex-row justify-between">
  <div class="sm:w-1/4 flex flex-col sm:flex sm:flex-row sm:text-xl justify-around mt-4">
    <Link
      class="  hover:underline hover:font-bold"
      :class="{'font-bold underline': $page.component == 'Home'}"
      href="/"
      
    >
      Home
    </Link>

    <Link
      class="  hover:underline hover:font-bold"
      :class="{'font-bold underline ': $page.url.includes('users')}"
      href="/users"
      
    >
      User
    </Link>

    <Link
        class="  hover:underline hover:font-bold"
        :class="{'font-bold underline ': $page.url.includes('teams')}"
        href="/teams"
        
    >
      Team
    </Link>

    <Link
      class="  hover:underline hover:font-bold"
      :class="{'font-bold underline': $page.component == 'Setting'}"
      href="/settings"
      
    >
      Setting
    </Link>

  </div>
    <Link 
      class="  hover:underline hover:font-bold"
      :class="{'font-bold underline': $page.component == 'Profile'}" 
      href="/profile"
      
    >
      Profile
    </Link>
    <Link class="text-red-500 hover:underline mt-5 mr-4" method="POST" href="/logout" >
      Logout
    </Link>
  </div>
</template>

<script>
import { Link } from "@inertiajs/inertia-vue3";

export default {
  components: {
    Link,
  },
};
</script>

<style>
</style>
