<template>
  <div class="flex flex-wrap" >
    <Component
        v-for="link in links"
        :key="link"
        :is="link.url ? 'Link' : 'span'"
        :href="link.url"
        v-html="link.label"
        class="px-2 py-1 rounded border border-gray-300 bg-white m-1"
        :class="{'bg-gray-400 text-white': link.active, 'bg-gray-300': !link.url}"
        preserveScroll="true"
    />
  </div>
</template>

<script>
export default {
    props:{
        links: Array
    }
}
</script>

<style>

</style>
