<template>
     <Head>
        <title>Profile</title>
        <meta type="description" content="Users page content" />
    </Head>
	<div>
        <div class="text-2xl font-bold">Profile view</div>
        <div class="flex flex-col mt-20">
            <div>user name: {{ ' ' + profile.data.name }}</div>
            <div>picture: {{ ' ' + profile.data.profile_pic ? 'No data': profile.data.profile_pic }}</div>
            <div>website: {{ ' ' + profile.data.website_link }}</div>
            <div>about: {{ ' ' + profile.data.about }}</div>
            <div class="flex">
                <div>gallery</div>
                <div v-if="profile.data.gallery.length > 0" class="flex flex-col" >
                    <div  v-for="picture in profile.data.gallery" :key="picture" >
                        {{ picture.name }}
                    </div>
                </div>
                <div v-else>
                    No pictures available
                </div>
            </div>
        </div>
		<img :src="profile.data.profile_pic"/>
	</div>
</template>

<script>
	export default {
		props:{
			profile: Object,
		}
	}
</script>
