<template>
    <Head>
        <title>Team</title>
    </Head>
    <div>
        <div class="bg-gray-50 border border-gray-300 rounded p-8 mx-auto sm:w-1/3 mt-24">
            <h1 class="text-2xl font-bold mb-8 ">Register Team</h1>
            <form @submit.prevent="form.post('/teams')" class="text-gray-600 text-sm">
                <div class="flex flex-col py-2 ">
                    <label class="mb-2 ">Title</label>
                    <input v-model="form.title" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-200 py-2 border-gray-300 border rounded" type="text">
                    <div class="text-red-400" v-if="form.errors.title">{{ form.errors.title }}</div>
                </div>
                <div class="flex flex-col py-2"  >
                    <label class="mb-2 ">Description</label>
                    <textarea v-model="form.description" class="focus:outline-none px-2 focus:bg-gray-300 bg-gray-200 py-2 border-gray-300 border rounded" rows="5"/>
                    <div class="text-red-400" v-if="form.errors.description">{{ form.errors.description }}</div>
                </div>
                <button :disabled="form.processing" class="w-1/4 bg-gray-700 text-white py-2 rounded mt-4 hover:bg-gray-800">Submit</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
data(){
    return {
        form: this.$inertia.form({
            title:'',
            description:'',
        }),
    }
},
}
</script>

<style>

</style>
