<template>
    <Head>
        <title>Teams</title>
        <meta type="description" content="Teams page content" />
    </Head>

    <div class="flex justify-between items-center">
        <div class="flex flex-col sm:flex-row  items-end my-4">
            <h1 class="text-2xl font-bold">Teams</h1>
            <Link href="/teams/create" class="text-sm font-extralight  hover:underline  mb-1 sm:ml-2 ">Create team</Link>
        </div>

        <div class="flex justify-between">
            <!-- Order by -->
            <select v-model="order" class="mr-8 border border-gray-300 h-8 w-28 sm:w-56 rounded px-2 bg-white text-gray-500">
                <option value="desc" >Latest</option>
                <option value="asc">Oldest</option>
            </select>

            <!-- Search Bar -->
            <input v-model="search" type="text" placeholder="Search..." class="border border-gray-300 h-8 rounded px-2 w-28 sm:w-auto"/>
        </div>
    </div>

 <!-- Team Table -->
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-300 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-200">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider">
                                    Title
                                </th>
                                <th scope="col" class=" py-3 px-12 text-right text-xs font-medium text-gray-700 uppercase tracking-wider">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="team in teams.data" :key="team.id">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <Link :href="`/teams/${team.id}`" class="text-sm font-medium text-gray-900">
                                                {{ team.title }}
                                            </Link>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap flex justify-end text-sm font-medium  ">
                                    <Link :href="`/teams/${team.id}/edit`" class="text-indigo-600 hover:text-indigo-900">
                                        Edit
                                    </Link>
                                    <span class="px-2 text-gray-400">|</span>
                                    <button @click="deletePrompt(team.id)"  class="text-red-600">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

     <!-- Paginator -->
    <Paginator class="mt-4" :links="teams.links" />

     <!-- Delete Prompt Modal -->
    <div v-if="teamDeletePrompt" class="absolute bg-gray-100 right-0 left-0 bottom-0 top-0 bg-opacity-70 flex items-center justify-center border-2 shadow" >
        <div class="bg-white p-8 border rounded-lg sm:w-1/4">
            <div class="text-gray-600 font-bold text-2xl my-6 mb-10">Are you sure ?</div>
            <button @click="deleteTeam()" class="bg-red-500 mr-4 text-white uppercase p-3 px-4 rounded-lg hover:bg-red-600">confirm</button>
            <button @click="this.teamDeletePrompt = false" class="text-white uppercase p-3 px-4 rounded-lg bg-green-600" >Cancel</button>
        </div>
    </div>
</template>

<script>
import Paginator from "@shared/Paginator.vue";
import debounce from 'lodash/debounce'
import { Inertia } from '@inertiajs/inertia'


export default {
    data() {
        return {
            search: this.filters.search,
            order: this.orderState,
            teamDeletePrompt: false,
            teamToDelete: null,
        };
    },
    components: {
        Paginator,
    },
    props: {
        teams: Object,
        filters: Object,
        can: Object,
        orderState: Object,
    },
    methods:{
        deletePrompt(team){
            this.teamDeletePrompt = true
            this.teamToDelete = team
        },
        deleteTeam(){
            this.$inertia.delete('/teams/'+ this.teamToDelete, {
                onSuccess:() => {
                    this.teamDeletePrompt = false
                    this.teamToDelete = null
                }
            });
        }
    },
    watch:{
        search: debounce((value) => {
            Inertia.get('/teams',{ search: value },{
                preserveState:true,
                replace: true,
            })
        },300),

        order: (value) => {
            Inertia.get('/teams',{ order: value },{
                preserveState:true,
                replace: true,
            })
        },
    },
}
</script>

<style>

</style>
