<template>
     <Head>
        <title>Team Details</title>
        <meta type="description" content="Users page content" />
    </Head>
  <div class="text-lg font-bold">{{ team.title }}</div>
  <div> {{ team.description }}</div>

    <div class="bg-white border p-5 rounded-lg">
        <div class="my-2" v-for="member in team.members" :key="member">
            {{ member.name }}
        </div>
    </div>
</template>

<script>
export default {
props:{
    team: Object,
}
}
</script>

<style>

</style>
